/article4_analysis.r~
/data/.regdata_tommy.sav.icloud
/.Rhistory
/article4_analysis_bck.r~
/mpluest.tex~
/dir.dot
/ecsiStructure.dot
/figure/fig2.png
/figure/fullmod.rnw~
/figure/fullmod.tex~
/figure/plsres.org~
/figure/plsres.tex~
/full.dot
/ma.dot
/motorcars data.pdf
/motorcarsdata.pdf
/or.dot
/#article4_analysis.r#
/#article4_tommylars.rnw#
